/* 글꼴 : 구글 폰트 중 Roboto, Noto 가져오기*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 초기화 : 블록요소,span 크기 관련 속성을 0 으로 함. */
html,
body,
div,
span,
ul,
li,
h2,
h3,
h4,
h6{
  margin: 0;
  padding: 0;
  border:0;
  vertical-align: baseline;
}

body {
  /* 모든 요소의 글꼴 영문,한글 설정 */
  font-family: 'Roboto', 'Noto Sans KR';  
  color: #222;
  letter-spacing: -0.2px;
  /* 드래그 방지 */
  user-select: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}